/*COLORS*/
$blue: #3282f7;
$teal: #68d9a4;
$orange: #ed6454;

$secondary: $orange;
$success: $teal;

$bg-recipe: #e7e7e7;
$bg-recipe-pic: #c7bebe;

/*DROPDOWN BUTTON*/
$dropdown-link-color: #fff;
$dropdown-link-hover-color:         shade-color($dropdown-link-color, 10%);
$dropdown-link-hover-bg:            rgba(#fff,0.2);
$dropdown-link-active-color: none;
$dropdown-link-active-bg: none;

/*SHAPES*/


/*SIZES*/
$h2-font-size:  1.4rem;

$line-height: 1rem;
$lines-to-show: 6;

$position-values: (
  0: 0,
  2: 1.2em,
  50: 50%,
  100: 100%
);
