/*COLORS*/
$ingredient-color: #3282f7;
$appliance-color: #68d9a4;
$ustensils-color: #ed6454;

$bg-recipe: #e7e7e7;
$bg-recipe-pic: #c7bebe;

/*SHAPES*/
$border-radius: 0.5em;

/*SIZES*/
$font-size: (
  det-info: 0.8em,
  body: 1em,
  main-info: 1.2em,
  filters: 1.5em,
);

$line-height: 1.4;
$lines-to-show: 5;

$breakpoints: (
  tablet: 768px,
  tablet-landscape: 992px,
  desktop: 1200px,
);
