#sub-search__Ingrédient{
  .sub-search__button, input, .sub-search__taglist{
    background-color: $primary;
  }
}
#sub-search__Appareils{
  .sub-search__button, input, .sub-search__taglist{
    background-color: $teal;
  }
}
#sub-search__Ustensiles{
  .sub-search__button, input, .sub-search__taglist{
    background-color: $secondary;
  }
}

.dropdown-item {
  display: flex;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  @include media-breakpoint-up(xl) {
    width: 33%;
  }
}

.dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
  max-height: 350px;
  position: static !important;
  transform: translateY(-5px) !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}
.dropdown-menu.show {
  display: flex;
}

.sub-search__button input {
  font-weight: bold;
  text-align: left;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

.sub-search__button input::placeholder{
  color: rgba(#fff , 0.7);
}

/*Arrow section*/
.arrow {
  position: relative;
  height: 15px;
  width: 15px;
  z-index: 2;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -3px;
  transform: rotate(-45deg);
  background-color: #fff;
}
.arrow::after {
  right: 6px;
  transform: rotate(45deg);
  background-color: #fff;
}
.show .arrow::before {
  left: -3px;
  transform: rotate(45deg);
}
.show .arrow::after {
  right: 6px;
  transform: rotate(-45deg);
}



